@model GameReview.Data.CategoryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details about this category</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: large;">
        @*<dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index", "", new { @style = "color: black;" })
</p>
